@font-face {
  font-family: 'RelativeMono';
  font-style: normal;
  font-weight: 400;
  src: url('./fonts/relative/relative-faux-book-pro.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/relative/relative-faux-book-pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/relative/relative-faux-book-pro.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/relative/relative-faux-book-pro.woff') format('woff'), /* Modern Browsers */
       url('./fonts/relative/relative-faux-book-pro.ttf') format('truetype'); /* Safari, Android, iOS */
}

@font-face {
  font-family: 'RelativeMono';
  font-style: bold;
  font-weight: 500;
  src: url('./fonts/relative/relative-bold-pro.eot'); /* IE9 Compat Modes */
  src: local(''),
       url('./fonts/relative/relative-bold-pro.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('./fonts/relative/relative-bold-pro.woff2') format('woff2'), /* Super Modern Browsers */
       url('./fonts/relative/relative-bold-pro.woff') format('woff'), /* Modern Browsers */
       url('./fonts/relative/relative-bold-pro.ttf') format('truetype'); /* Safari, Android, iOS */
}
body {
  margin: 0;
  padding: 0;
  font-family: Monaco, Consolas, monospace;
  -webkit-font-smoothing: antialiased;
}

.recharts-wrapper {
  font-size: 0.85rem;
}

.App {
  color: #222;
  line-height: 1.15;
  padding: 20px;
}

h3, h2 {
  color: #444;
  margin: 1rem 0 1.5rem;
}
h3 {
  margin:  1rem 0;
}

h2 {
  font-size: 1.5rem;
}

label {
  cursor: pointer;
}

input + label,
label + input {
  margin-left: 0.5rem;
}

.stats {
  font-size: 0.9rem;
  margin: 1.5rem 0 1rem;
}

.chart-description {
  font-size: 0.9rem;
  margin: 1rem 0;
  max-width: 600px;
}

.chart-description p {
  margin: 0;
}

.chart-description ul {
  margin: 0;
  padding-left: 20px;
}

.chart-description li {
  margin-top: 5px;
}

.chart-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 2rem; 
  margin-top: 2rem;
}

.chart-cell {
  position: relative;
}

@keyframes loader {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}

.loader {
  animation: loader 1s infinite;
}
.chart-cell .loader {
  position: absolute;
  margin-left: -1.5em;
  margin-right: -1.5em;
  top: 50%;
  left: 50%;
  z-index: 2;
}

@media all and (max-width: 1200px) {
  .chart-grid {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}